.powershell {
  width: 50%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(-50px);
  border: 1px solid var(--color-menc-dest);
  background-color: #012456;
  color: #FFFFFF;
  font-family: Consolas, "Courier New", monospace;
  border-radius: 15px;
  padding: 10px;
  box-shadow: none;
}

.code-editor {
  min-width: 100%;
  max-width: 100%;
  height: 100%;


  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  
  .title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
  }
  
  .icon {
    width: 20px;
    transition: .2s ease;
  }
  
  .icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
  }
  
  .editor-content {
    margin: 0 10px 10px;
    color: white;
  }
  
  .property {
    margin-left: 30px;
  }
  
  .property:hover {
    cursor: text;
  }
  
  .editor-content .color-0 {
    color: rgb(86 156 214);
  }
  
  .editor-content .color-1 {
    color: rgb(182 206 168);
  }
  
  .editor-content .color-2 {
    color: rgb(156 220 254);
  }
  
  .editor-content .color-3 {
    color: rgb(207 146 120);
  }
  
  .color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
  }
  
  .color-preview-1 {
    background-color: #1d1e22;
  }
  
  .color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
  }

.editor-content {
    padding: 10px;
}

.code p {
    margin: 0;
    font-size: 14px;
}

.color-0 { color: #FFFFFF; } /* Texto padrão em branco */
.color-1 { color: #00FFFF; } /* Comandos em ciano */


.visible {
  transition: opacity 0.8s ease-out, transform 1s ease-out;
  opacity: 1;
  transform: translateY(0px);
}